* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #ecf9ff;
  padding: 30px 80px;
}

.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 6px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li,
li a {
  display: inline;
  text-decoration: none;
  text-align: center;
  color: #828297;
  transition: 0.15s ease-in-out;
  position: relative;
  font-size: 18px;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #00e5cc;
  transition: 0.4s ease-in-out;
}

.menu li a:hover,
.menu li a:hover::after {
  width: 100%;
  color: #00e5cc;
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

.btn {
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #060640;
  color: white;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.banner-content h1 {
  color: #060640;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.banner-content p {
  margin-top: 10px;
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.banner-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.video-icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.banner-card {
  margin-top: 50px;
  width: 418px;
  height: 136px;
  flex-shrink: 0;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  padding: 15px;
}

.banner-card-img {
  display: flex;
  justify-content: space-between;
}

.work-section {
  margin: 0 auto;
  padding: 0 80px;
}

.work-content {
  margin-top: 100px;
  text-align: center;
}

.work-content h1 {
  color: #060640;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}

.work-content p {
  color: #9090a7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.how-work-container {
  margin-top: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.work-card {
  width: 370px;
  height: 308px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: rgba(236, 249, 255, 0.8);
}

.work-card h4 {
  margin-top: 20px;
  color: #060640;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.work-card p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin-top: 100px;
}

.about-us-title {
  margin-bottom: 40px;
}

.about-us-title h1 {
  color: #060640;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}

.about-us-title p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.about-us-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.about-us-icon-content h4 {
  color: #060640;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.about-us-icon-content p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.popular-package {
  margin-top: 100px;
  padding: 40px 80px;
  background: #ecf9ff;
}

.popular-package h1 {
  color: #060640;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  padding-top: 70px;
}

.poular-package-card {
  position: relative;
  width: 370px;
  height: 436px;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}
.poular-package-card img {
  border-radius: 6px;
  text-align: center;
}

.absulate-position {
  position: absolute;
  right: 30px;
  bottom: 150px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  padding: 5px 10px;
}

.poular-package-card h4 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.package-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para-2 {
  color: #00e5cc;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.subscribe-news {
  border-radius: 16px;
  background: #ecfdff;
  padding: 80px 50px;
  margin: 200px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.subcribe-content h1 {
  color: #060640;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.subcribe-content p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.subscribe-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.email-btn {
  margin-top: 40px;
  width: 600px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  padding: 20px;
}

.btn-container {
  position: relative;
}

.subscribe-btn {
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #060640;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

footer {
  background: #060640;
}

.footer-container {
  color: white;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
}

.footer-container p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.footer-container h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}

.part-1 img {
  margin-bottom: 20px;
}

.footer-icon {
  margin-top: 20px;
}

.footer-bottom {
  background: #000020;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
}

.text-B {
  color: #00e5cc;
}

@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.4s ease-in-out;
    z-index: 100;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
  .sign-in {
    display: none;
  }

  .banner-container {
    flex-direction: column;
    align-items: center;
  }

  .banner-content h1 {
    font-size: 40px;
  }

  .banner-card {
    padding: 0 30px;
  }

  .banner-img img {
    max-width: 100%;
  }

  .how-work-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 30px;
  }

  .about-us {
    flex-direction: column;
  }

  .about-us-img img {
    width: 100%;
  }

  .subscribe-news {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 601px) and (max-width: 901px) {
  .banner-container {
    flex-direction: column;
  }

  .how-work-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .about-us {
    flex-direction: column;
  }
}
